<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>&lt;key&gt;NSAppTransportSecurity&lt;/key&gt;
&lt;dict&gt;
    &lt;key&gt;NSAllowsLocalNetworking&lt;/key&gt;
    &lt;true/&gt;
&lt;/dict&gt;</string>
	<key>CLIENT_ID</key>
	<string>1098678313254-ciu5ai8bbhdcq6ek8dul6i7q9smlptgf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1098678313254-ciu5ai8bbhdcq6ek8dul6i7q9smlptgf</string>
	<key>API_KEY</key>
	<string>AIzaSyB_qjPl0qcyrnRae2pL5lZNL4eE762STmY</string>
	<key>GCM_SENDER_ID</key>
	<string>1098678313254</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.smellcode.pkghsystem</string>
	<key>PROJECT_ID</key>
	<string>pkgh-table</string>
	<key>STORAGE_BUCKET</key>
	<string>pkgh-table.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1098678313254:ios:84b7d246877ee3e05821e7</string>
</dict>
</plist>
